---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Luke Farritor</h1>
<p>I'm an engineer with a focus in robotics, machine learning, embedded systems, and software engineering. <a href="/about"> About me </a></p>
<br>
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest Blog Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
